# @Author Marco A. Gallegos
# @Date 2020/10/09
# @Description
#   Este archivo define las librerias que son requeridas para el proyecto es la fuente para pip-tools para poder gestionar
#   las actualizaciones de las librearias y/o la sincronizacion con el entorno, este archivo genera pues a requirements.txt
#   pip-compile

flask
flask-restful
peewee
pendulum
numpy
python-dotenv